* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.first{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin: 1px;
}
.bg-width{
    display: flex; 
}
.half-width{
    width: 50%;
    margin: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
}
h1{
    font-size: 30px;
    line-height: 5rem;
    font-weight: 50px;
}
.half-width h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.orange{
    color: rgb(255,146,45);
}
.half-width img{
    height: 600px;
}
.content{
    padding-left: 4rem;
    padding-top: 4rem;
}
.half-width .btn a{
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    border-radius: 4px;
    background-image: linear-gradient(rgb(255,116,87),rgb(255,148,113));
}
.btn{
 margin-top: 1rem;
}
.sec{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    margin: 1px;
    background-position: right;
}
.third .box{ 
    height: 400px;
    box-shadow: 10px 10px 40px gray;
}
.third .left{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(72, 4, 75),tomato);
    border-image-slice: 1;
}
.third .right{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(86, 5, 133),rgb(233, 236, 17));
    border-image-slice: 1;
}
footer p{
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.third{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}